/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

.apple-pie_div {
  height: 850px;
  overflow: hidden;

}
#apple-pie_img {
  width: 100%;
  position: relative;
  bottom: 115px;
  
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size:7rem;

}

main {
  margin: 9.5rem;
}

.recipe-info {
  display: flex;
  flex-direction: column;

}

.recipe-info p {
  font-size: 2rem;
}
.recipe-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem ;
  margin-bottom: 2rem;

}
.recipe-info img {
  width: 47%;
  
}

h2 {
  margin-top:3.5rem ;
  margin-bottom: 2.5rem;
  font-size: 2.2rem;
}

.ingredients-section ul {
  font-size: 1.7rem;
  padding-left: 3rem;
  list-style-type:none ;
}

.ingredients-section ul li::marker {
  content: "- "; 
  color: black;  
  font-size: 27px; 
}

.ingredients-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem ;
  margin-bottom: 2rem;

}

#ingredients-info_img {
  width: 40%;
}

.directions-section ol {
  font-size: 1.7rem;
  padding-left: 1.7rem;
  counter-reset: list-counter;
}

ol {
  list-style-type: none; 
  counter-reset: contador; 
}

ol li {
  counter-increment: contador; 
}

ol li::before {
  content: counter(contador) ") "; 
  
}